[build]
  command = "pnpm --filter webvm... build"
  publish = "environments/webvm/build"
  functions = "python/functions"

[dev]
  command = "pnpm --filter webvm... dev"
  targetPort = 5173

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
